* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #121212;
  color: white;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 260px;
  bottom: 90px;
  background-color: #121212;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu nav a {
  text-decoration: none;
  font-size: 22px;
  color: #aaa;
  background-color: #111;
  padding: 8px 12px;
  border-radius: 6px;
  display: flex;
  gap: 12px;
  transition: 0.3s;
}

.menu nav a:hover {
  color: white;
  background-color: #222;
}

.main {
  margin-left: 260px;
  padding: 20px;
  padding-bottom: 120px;
  overflow-y: auto;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  gap: 20px;
  padding: 12px;
  color: white;
}

.tittle {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: #1ed760;
  cursor: pointer;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
}

.search-box i {
  position: absolute;
  left: 12px;
  font-size: 14px;
  color: #aaa;
}

.input-text {
  background-color: #2a2a2a;
  border: none;
  padding: 8px 15px 8px 35px;
  border-radius: 20px;
  color: white;
  width: 250px;
  height: 40px;
}

.head-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.head-right {
  display: flex;
  align-items: center;
}

.head button {
  background-color: white;
  font-size: 18px;
  border: none;
  padding: 8px 12px;
  margin-left: 20px;
  border-radius: 20px;
  margin-right: 20px;
  cursor: pointer;
  color: black;
  font-weight: bolder;
}

.info {
  top: 70px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 18px;
  color: #b3b3b3;
}

.info p {
  margin: 0;
}

.info-end {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 130px;
  background-color: #181818;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.info-player {
  display: flex;
  align-items: center;
  gap: 10;
  width: 25%;
}

.info-player img {
  background-color: #333;
  width: 75px;
  height: 75px;
  border-radius: 12px;
  padding: 10px 8px;
}

.info-song {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.info-song strong {
  font-size: 25px;
  margin-bottom: 5px;
}
.info-song span {
  font-size: 20px;
  color: #aaa;
}

.player-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 50%;
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}
.play {
  background: none;
  border: none;
  color: rgb(170, 168, 168);
  font-size: 20px;
}

.play-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* border: none; */
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.control button {
  cursor: pointer;
  transition: 0.2;
}

.control .play:hover {
  transform: scale(1.2s);
  color: white;
}

.control button:hover {
  transform: scale(1.05);
}

.control i:active {
  transform: scale(0.95);
}

.run {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 80%;
}

.run input[type="range"] {
  flex: 1;
  /* width: 500px; */
  height: 4px;
  cursor: pointer;
}

.vol {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  width: 25%;
}

.volume {
  background: none;
  color: rgb(170, 168, 168);
  border: none;
}

.volume:hover {
  color: white;
}

.volume:hover {
  transform: scale(1.05);
}

.volume:active {
  transform: scale(0.95);
}

.vol input[type="range"] {
  width: 100px;
  height: 4px;
  cursor: pointer;
}
