/* background: linear-gradient(to top, #121212, #1b2a2f); */
/* search box => background-color: #FFFFFF29; */

body {
  color: white;
  display: grid;
  grid-template-rows: 70px 1fr 110px;
  grid-template-columns: 230px 1fr;
  grid-template-areas:
    "header header"
    "menu main"
    "player player";
  height: 100vh;
  background: linear-gradient(to top, #121212, #1b2a2f);
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 20px;

  flex-shrink: 0; /* không co lại */
}

.header .tittle img {
  width: 50%;
  margin-left: -8%;
  cursor: pointer;
}

.back-next-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.chevron button {
  background-color: #ffffff29;
  color: #ffffff29;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 15px;
  cursor: pointer;
}

.chevron:hover {
  color: white;
  transform: scale(1.2s);
}

.chevron:active {
  transform: scale(0.95);
}

.header-right {
  display: flex;
  gap: 10px;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
}

.search-box i {
  position: absolute;
  left: 12px;
  font-size: 14px;
}

.input-text {
  border: none;
  padding: 10px 15px 10px 35px;
  border-radius: 20px;
  width: 250px;
  height: 20px;
  color: white;
  background-color: #ffffff29;
}

.head {
  font-weight: bold;
}

.sign-up {
  background: none;
  border: none;
  padding: 6px 15px;
  border-radius: 20px;
  cursor: pointer;
  height: 50px;
}

.a-sign-up:hover {
  color: white;
}

.login {
  text-decoration: none;
  background: white;
  border: none;
  color: white;
  padding: 6px 15px;
  border-radius: 30px;
  cursor: pointer;
  height: 50px;
  width: 150px;
}

.sign-up a {
  text-decoration: none;
  color: #555;
  font-size: 15px;
}
.login a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

/* .user {
  background-color: #2a2a2a;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: white;
  margin-left: 10px;
  cursor: pointer;
} */

.menu {
  grid-area: menu;
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  padding-top: 50px;
  padding-left: 10%;
  gap: 20px;
}

.menu nav a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #b3b3b3;
  font-size: 16px;
  flex-direction: none;
  padding: 10px 0;
  text-decoration: none;
  transition: 0.3s;
  border-radius: 25px;
}

.menu nav a:hover {
  background-color: #ffffff29;
}

.menu nav a i {
  margin-left: 15%;
}

.main {
  grid-area: main;
  padding: 50px;
  flex: 1; /* chiếm phần còn lại */
  overflow-y: auto; /* cuộn khi vượt quá */
}

.playlists {
  display: flex;
  gap: 20px;
}

.main .playlists .playlists-card {
  width: 250px;
  height: 250px;
  background-color: rgb(214, 226, 226);
  border-radius: 5%;
  cursor: pointer;
  color: black;
}

.main h1 {
  margin-bottom: 20px;
  font-size: 34px;
  font-weight: bold;
}
.main h2 {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: bold;
}

.info {
  grid-area: player;
  background-color: #181818;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 18px;

  flex-shrink: 0;
}

.info-player {
  display: flex;
  align-items: center;
  gap: 15px;
}

.background-singer {
  width: 65px;
  height: 65px;
  background-color: gray;
  border-radius: 10px;
}

.info-song a {
  color: white;
  display: block;
  text-decoration: none;
}

.info-song .song-tittle {
  font-size: 20px;
  font-weight: bold;
}

.info-song a.artist-name {
  font-size: 15px;
  color: #b3b3b3;
}

.player-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 50%;
}

.control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}
.play {
  background: none;
  border: none;
  color: rgb(170, 168, 168);
  font-size: 20px;
}

.play-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* border: none; */
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.control button {
  cursor: pointer;
  transition: 0.2;
}

.control .play:hover {
  transform: scale(1.2s);
  color: white;
}

.control button:hover {
  transform: scale(1.05);
}

.control i:active {
  transform: scale(0.95);
}

.run {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: rgb(153, 172, 188);
}

.run input[type="range"] {
  background: #555;
  width: 500px;
  height: 4px;
  cursor: pointer;
}

.vol {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.volume {
  background: none;
  color: rgb(170, 168, 168);
  border: none;
  cursor: pointer;
}

.volume:hover {
  color: white;
}

.volume:hover {
  transform: scale(1.05);
}

.volume:active {
  transform: scale(0.95);
}

.vol input[type="range"] {
  height: 4px;
  cursor: pointer;
}
