* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #121212;
    color: white;
}

/* Định nghĩa cho menu chức năng bên cạnh của trang chủ */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 260px;
    bottom: 90px;
    background-color: #121212;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu h2 {
    color: aquamarine;
    font-size: 30px;
    cursor: pointer;
}

/* Định dạng cho từng dòng chức năng */
.menu nav a {
    text-decoration: none;
    font-size: 25px;
    color: #aaa;
    background: #111;
    padding: 8px 12px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 12px;
    transition: 0.3s;
}

.menu nav a:hover {
    color: white;
    background: #222;
}

.main {
    margin-left: 300px;
    padding: 20px;
    padding-bottom: 120px;
    overflow-y: auto;
}

.head {
    font-size: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1px;
    padding: 10px;
}

.head input {
    font-size: 15px;
    flex: 1;
    padding: 8px 12px;
    width: 50%;
    min-width: 100px;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 15px;
}


.head button {
    background-color: rgb(216, 223, 216);
    border: none;
    padding: 8px 12px;
    margin-left: 10px;
    border-radius: 20px;
    cursor: pointer;
    color: #000;
    font-weight: bolder;
}


.playlists {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.playlists-card {
    background-color: #282828;
    height: 100%;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
}

.playlists-card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
}

.info {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 130px;
    background-color: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.info-player {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 25%;
}

.info-player img {
    background-color: #333;
    width: 75px;
    height: 75px;
    border-radius: 12px;
    padding: 10px 8px;
}

.info-song {
    display: flex;
    flex-direction: column;
}

.info-song strong {
    font-size: 25px;
    margin-bottom: 5px;
}
.info-song span {
    font-size: 20px;
    color: #aaa;
}

.player-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 50%;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    color: white;
}

.control i {
    cursor: pointer;
    transition: 0.2s;
}

.control i:hover {
    transform: scale(1.2s);
    color: aquamarine;
}

.run {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.run input[type="range"]{
    flex: 1;
}

.vol {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 25%;
    justify-content: flex-end;
}

.vol input[type="range"]{
    width: 100px;
}