/* logo: 45px */

body {
  background: linear-gradient(to top, #121212, #1b2a2f);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.header .logo img {
  height: 4em;
}

.line {
  margin-top: 45px;
  width: 450px;
  height: 3px;
  background-color: rgb(88, 175, 223, 0.1);
  border-radius: 2px;
}

.step-bar {
  display: flex;
  align-items: center; /* căn giữa icon và text theo chiều dọc */ /* khoảng cách giữa icon và chữ */
  width: 100%;
  gap: 10px; /* để nó chiếm hết ngang */
}

.back-btn i {
  font-size: 20px;
  color: #ffffff29;
}

.back-btn i:hover {
  color: white;
}

.step-info .step {
  font-size: 14px;
  color: #ccc;
}

.step-info .title {
  font-size: 14px;
  margin: 0;
  font-weight: bold;
}

.form-container form {
  margin-top: 2rem;
  width: 100%;
  max-width: 400px;
}

.password-box {
  position: relative;
}

.password-box input {
  background-color: #ffffff29;
  border: none;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 14px;
  width: 75%;
  height: 20px;
  border-radius: 5px;
}

.toggle {
  position: absolute;
  right: 80px;
  top: 45%;
  transform: translateY(-45%);
  cursor: pointer;
  color: #ccc;
  font-size: 15px;
}

.rules p {
  font-weight: bold;
}

.requirements {
  list-style: none;
  padding: 0;
}

.requirements li {
  position: relative;
  padding-left: 20px;
  margin: 8px 0;
  color: #aaa; /* mặc định xám */
}

.requirements li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #555; /* mặc định xám đậm */
}

/* Nếu thỏa điều kiện -> xanh */
.requirements li.valid {
  color: #1ed760;
}

.requirements li.valid::before {
  background-color: #1ed760;
}

/* Nếu sai điều kiện -> đỏ */
.requirements li.invalid {
  color: #ff4d4d;
}

.requirements li.invalid::before {
  background-color: #ff4d4d;
}

.next-step {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 40px;
  background-color: rgb(88, 175, 223, 0.1);
  color: rgb(88 196 220);
  width: 250px;
  height: 20px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.next-step:hover {
  background-color: rgb(88 196 220);
  color: white;
}
